body {
    background-color: #180A0A;
    color: #F582A7;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.subheading {
    color : #d2e2eb;
}

.centreAlign {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo {
    border: #2d2e30;
    border-style: solid;
    border-radius: 100%;
    width: 200px;
}

#logoBox {
    padding-top: 100px;
}

h3 {
    color: #F10086;
    font-size: xx-large;
}

span {
    color: #F10086;
    font-size: larger;
}

/* progress bar styling starts here */

.skills {
    padding-left: 0px;
}

.progress {
    height: 20px;
    width: 20px;
    padding-top: 3px;
    display: flex;
}

.progressBox {
    max-width: 100%;
    height: auto;
}

.progressContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.progressBar {
    display: flex;
    align-items: center;
}

.progressText {
    width: 150px;
}

.box {
    border-color: #c7d0d8;
    border-style: solid;
    border-width : 2px;
    width: 10px;
    height: 10px;
    border-radius: 5%;
    margin-right: 2%;
} 

.boxFilled {
    background-color: #c7d0d8;
}
