body {
    background-color: #180A0A;
    color: #F582A7;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

/* #logo {
    height: 50px;
    width: 50px;
} */

h3 {
    color: #F10086;
    font-size: xx-large;
}