body {
    background-color: #180A0A;
    color: #F582A7;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.subheading {
    color : #7F8487
}

#logo {
    border: #2d2e30;
    border-style: solid;
    border-radius: 100%;
    width: 200px;
}

h3 {
    color: #F10086;
    font-size: xx-large;
}

span {
    color: #F10086;
    font-size: larger;
}